@{
    ViewData["Title"] = "Index";
}
<!-- Dashboard -->
<li class="menu-item active">
    <a href="index.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
    </a>
</li>
